<!--  NEW TEMPLATES  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<title>Reset Password</title>
<style type="text/css" rel="stylesheet" media="all">
    /* Base ------------------------------ */
    *:not(br):not(tr):not(html) {
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    body {
      width: 100% !important;
      height: 100%;
      margin: 0;
      line-height: 1.4;
      background-color: #F5F7F9;
      color: #839197;
      -webkit-text-size-adjust: none;
    }
    a {
      color: #414EF9;
    }
    /* Layout ------------------------------ */
    .email-wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: #F5F7F9;
    }
    .email-content {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    /* Masthead ----------------------- */
    .email-masthead {
      padding: 25px 0;
      text-align: center;
    }
    .email-masthead_logo {
      max-width: 400px;
      border: 0;
    }
    .email-masthead_name {
      font-size: 16px;
      font-weight: bold;
      color: #839197;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
    }
    /* Body ------------------------------ */
    .email-body {
      width: 100%;
      margin: 0;
      padding: 0;
      border-top: 0px solid #E7EAEC;
      border-bottom: 0px solid #E7EAEC;
      background-color: #FFFFFF;
    }
    .email-body_inner {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
    .email-footer {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      background: #ee4444;
    }
    .email-footer p {
      color: #fff;
      margin: 0px;
    }
    .body-action {
      width: 100%;
      margin: 30px auto;
      padding: 0;
      text-align: center;
    }
    .body-sub {
      margin-top: 25px;
      padding-top: 25px;
      border-top: 1px solid #E7EAEC;
    }
    .content-cell {
      padding: 35px;
    }

    .content-cell-1 {
      padding: 15px 35px;
    }
    .align-right {
      text-align: right;
    }
    /* Type ------------------------------ */
    h1 {
      margin-top: 0;
      color: #292E31;
      font-size: 19px;
      font-weight: bold;
      text-align: center;
    }
    h2 {
      margin-top: 0;
      color: #292E31;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
    h3 {
      margin-top: 0;
      color: #292E31;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
    p {
      margin-top: 0;
      /*color: #839197;*/
      color: #000000;
      font-size: 16px;
      line-height: 1.5em;
      text-align: center;
    }
    p.sub {
      font-size: 12px;
    }
    p.center {
      text-align: center;
    }
    /* Buttons ------------------------------ */
    .button {
      display: inline-block;
      width: 200px;
      background-color: #ee4444;
      border-radius: 3px;
      color: #ffffff;
      font-size: 15px;
      line-height: 45px;
      text-align: center;
      text-decoration: none;
      -webkit-text-size-adjust: none;
      mso-hide: all;
    }
    .button--green {
      background-color: #ee4444;
    }
    .button--red {
      background-color: #ee4444;
    }
    .button--blue {
      background-color: #ee4444;
    }
    /*Media Queries ------------------------------ */
    @media only screen and (max-width: 600px) {
      .email-body_inner,
      .email-footer {
        width: 100% !important;
      }
    }
    @media only screen and (max-width: 500px) {
      .button {
        width: 100% !important;
      }
    }
  </style>
</head>
<body style="background: #f2f2f2;">


    <table align="center" style="border:0;border-collapse:collapse;margin:0 auto!important;padding:0;max-width:600px;min-width:600px;width:600px">
        <tbody>
        <tr>
          <td style="border:0;border-collapse:collapse;margin:0;padding:0">
            <!-- Header Part Start -->
            <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0">
              <tbody>
                <tr>
                  <td height="20" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <table dir="ltr" width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                <tbody>
                <tr>
                  <td style="background-color:#ee4444;border:0;border-collapse:collapse;margin:0;padding:0;font-size:0;line-height:0px;background-size:100% 100%;border-top-left-radius:5px" align="right" height="156" valign="bottom" width="252">
                    <a href="">
                      <img alt="" height="156" width="252" src="https://expapp.s3.us-east-2.amazonaws.com/uploads/image/bucket_image/1545635252/6200/xp_template1.png" style="display:block;border:0;line-height:100%;width:100%">
                    </a>
                  </td>
                  <td style="background-color:#ee4444;border:0;border-collapse:collapse;margin:0;padding:0;font-size:0;line-height:0px;background-size:100% 100%" align="center" height="156" valign="bottom" width="96">
                    <a href="#" style="outline:0;text-decoration:none" target="_blank" data-saferedirecturl="#">
                      <img alt="" height="156" width="96" src="https://expapp.s3.us-east-2.amazonaws.com/uploads/image/bucket_image/1545634768/6197/xp_template2.png" style="display:block;border:0;line-height:100%;width:100%">
                    </a>
                  </td>
                  <td style="background-color:#ee4444;border:0;border-collapse:collapse;margin:0;padding:0;font-size:0;line-height:0px;background-size:100% 100%;border-top-right-radius:5px" align="left" height="156" valign="bottom" width="252">
                    <a href="">
                      <img alt="" height="156" width="252" src="https://expapp.s3.us-east-2.amazonaws.com/uploads/image/bucket_image/1545634957/6199/xp_template3.png" style="display:block;border:0;line-height:100%;width:100%">
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <table  width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                <tbody>
                <tr>
                  <td width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                  <td align="center" style="border:0;border-collapse:collapse;margin:0;padding:0;width:472px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;vertical-align:middle;color:#32325d;font-size:24px;line-height:32px">
                        <!-- Receipt from <span dir="ltr">XP</span> -->
                  </td>
                  <td width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                </tr>
                </tbody>
              </table>
              <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff"><tbody><tr><td height="8" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td></tr></tbody>
              </table>

              <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                <tbody>
                <tr>
                  <td  width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                  <td align="left" style="border:0;border-collapse:collapse;margin:0;padding:0;width:472px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;vertical-align:middle;color:#000;font-size:14px;line-height:18px">
                  </td>
                  <td width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                </tr>
                </tbody>
              </table>
              <table style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                <tbody>
                <tr>
                  <td width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                  <td style="border:0;border-collapse:collapse;margin:0;padding:0;width:472px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;vertical-align:middle;color:#000;font-size:12px;line-height:16px;font-weight:bold;text-transform:uppercase">
                  </td>
                  <td width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                </tr>
                <tr><td colspan="3" height="12" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td></tr>
                </tbody>
              </table>

              <!-- Header Part end -->

              <!-- Content Section -->

              <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0px;background-color:#ffffff">
                <tbody>
                  <tr>
                    
                    <td  style="border:0;border-collapse:collapse;margin:0;padding:0;width:100%">
                      <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="center">
                            <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
                              <!-- Logo -->
                              
                              <!-- Email Body -->
                              <tr>
                                <td class="email-body" width="100%">
                                  <table class="email-body_inner" align="center" width="100%" cellpadding="0" cellspacing="0" style="padding: 25px 35px;">
                                    <!-- Body content -->
                                    <tr>
                                      <td class="content-cell" style="background: #f6f9fc;">
                                      <h1>Forgot password?</h1>
                                      <!-- <img align="center" alt="Forgot your password?" class="mcnImage" src="https://expapp.s3.us-east-2.amazonaws.com/uploads/image/bucket_image/1545637757/6201/il-password-reset_2x.png" style="-ms-interpolation-mode: bicubic; border: 0; height: auto; outline: none; text-decoration: none; vertical-align: bottom; max-width:100%; padding-bottom: 0; display: inline !important; vertical-align: bottom;" width="600">
                                      
                                    </img> -->

                                        
                                        <!-- <p>Thank you for signing up for XP . We’re happy you’re here! Enter the following code in the window where you began creating your new XP Zone:</p> -->
                                        <p>
                                          Oops! You hit the road block!<br/><br/>
                                          No Problem, we got you cared, Below is the access code 
                                        </p>
                                        <!-- Action -->
                                        <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="center">
                                              <div>
                                                <!-- <a href="#" class="button"><%#=@user.access_code%></a> -->
                                                <button href="#" style="background-color:#ee4444;" class="button button--blue"><%=@user.access_token%></button>
                                              </div>
                                            </td>
                                          </tr>
                                        </table>
                                        <p>Enter the code and be back with us!</p>
                                        <p>Thanks for using XP!<br>The XP Team</p>
                                        <!-- Sub copy -->
                                        <table class="body-sub">
                                          <tr>
                                            <td>
                                              <p class="sub">This email contains private information for your XP account — please don’t forward it. Any query related XP? Email us at
                                              </p>
                                              <p class="sub"><a href="#">support@thexpapp.com</a></p>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td class="content-cell-1">
                                        <p class="sub center">
                                          Copyright © XP All Rights Reserved 
                                         <!--  <br>325 9th St, San Francisco, CA 94103 -->
                                        </p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>                
                </tbody>
              </table>
              <!-- Content Section End -->
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>


















